/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo de la ventana del navegador */
}

/* Estilos del header */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Centra el contenido del header */
    display: flex; /* Utiliza flexbox para alinear verticalmente los elementos */
    align-items: center; /* Alinea verticalmente los elementos dentro del header */
}

.header-nav {
    margin-right: auto; /* Coloca el menú de navegación a la derecha */
}

.header-actions {
    margin-right: 20px; /* Ajusta el margen entre el menú y las acciones */
}

.header-nav ul {
    text-align: left; /* Alinea los elementos de la lista a la izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido es demasiado ancho */
}

.header-nav ul li {
    display: inline-block;
    padding: 0 15px; /* Espacio interno de cada elemento del menú */
}

.header-nav ul li a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}


.header-logo {
    margin-right: auto; /* Coloca el logo al lado izquierdo */
}

.header-logo img {
    height: 80px; /* Ajusta el tamaño del logo según sea necesario */
    width: auto; /* Mantiene la proporción de la imagen */
}

.header-actions .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #0070c9;
    color: #fff;
}

body{
    background-color: #464747;
}

/* Estilos Formulario CSS */

.container-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
<<<<<<< HEAD

  .form-group-check{
    width: 200px;
    display: flex;
    align-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
=======
>>>>>>> fc0659c9a67e52b1ffa06eb886d11eaa8fb32cfb
  
  label {
    display: block;
    margin-bottom: 5px;
  }
<<<<<<< HEAD

  input[type="checkbox"]{
    width: 40px;
  }
=======
>>>>>>> fc0659c9a67e52b1ffa06eb886d11eaa8fb32cfb
  
  input[type="text"],
  input[type="email"],
  textarea,
  select,
<<<<<<< HEAD
  /* input[type="checkbox"], */
=======
  input[type="checkbox"],
>>>>>>> fc0659c9a67e52b1ffa06eb886d11eaa8fb32cfb
  input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
<<<<<<< HEAD
  
  .boton {
    width: 100%;
    padding: 10px;
    background-color: #ffc400;
=======

    
  .bot_enviar {
    width: 100%;
    padding: 10px;
    background-color: hsl(29, 100%, 50%);
>>>>>>> fc0659c9a67e52b1ffa06eb886d11eaa8fb32cfb
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
<<<<<<< HEAD
  .boton:hover {
=======
  .bot_enviar:hover {
>>>>>>> fc0659c9a67e52b1ffa06eb886d11eaa8fb32cfb
    background-color: #0056b3;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  input[type="file"]::-webkit-file-upload-button {
    padding: 10px;
<<<<<<< HEAD
    background-color: #ffc400;
=======
    background-color: hsl(29, 100%, 50%);
>>>>>>> fc0659c9a67e52b1ffa06eb886d11eaa8fb32cfb
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0056b3;
  }
<<<<<<< HEAD
  

/* Estilos del footer */
=======

/* Estilos del footer */

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

>>>>>>> fc0659c9a67e52b1ffa06eb886d11eaa8fb32cfb
#footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; /* Alinea el texto al centro */
}

.footer-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    display: inline-block; /* Para que los elementos se muestren en línea */
    margin-right: 20px; /* Espacio entre los iconos */
}

.footer-social ul li:last-child {
    margin-right: 0; /* Quita el margen derecho del último elemento para evitar espacios adicionales */
}

.footer-social ul li img {
    width: 32px; /* Establece el ancho de los iconos */
    height: auto; /* Mantiene la proporción de la imagen */
}

a {
    color: #ffffff; /* Cambia el color del texto de todos los enlaces a blanco */
}
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
    flex: 1;
}

.search-button {
    padding: 0;
    background-color: white;
    border:1px solid #ccc;
    border-radius: 1000px;
    width: 70px;
    cursor: pointer;
}

.search-button img {
    width: 20px; /* ajusta el tamaño del icono según sea necesario */
}
.size-bar{
    padding: 5px 500px;
    background-color: #fffcfc;
}